# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.envrc
.venv
.local.env
local.env
env/
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache

.vscode
.idea
.nvim*
.vim*

# MacOS stuff
.DS_Store

# Claude
.claude
